*{
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  vertical-align: baseline;
  transition: .35;
  background-size: cover;
}
html{
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}
body{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  scroll-behavior: smooth;
}
/* basick */

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 35px calc(10px + 40 * (100vw / 1440));
}
.img{
  border-radius: 5px;
  filter: contrast(1.2);
  box-shadow: 0px 1px 100px 8px rgba(0,0,0,0.7);
}
.title{
  font-size: calc(24px + 40 * (100vw / 1440));
  color: #FFDC73  ; 
}
.subtitle_24{
  font-size: calc(8px + 15 * (100vw / 1440));
  color: white   ;
}

/* header */

.header{
  z-index: 1;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: rgb(3, 62, 107, .5);
}
.header.dark{
  background: rgb(0, 0, 0, 0.7);
}
.header__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__ul{
  display: flex;
  align-items: center;
  column-gap: calc(5px + 10 * (100vw / 1440));
}
.header__li{
  display: flex;
  align-items: center;
  column-gap: 3px;
  color: white;
}
.header__li:hover{
  color: lightpink;
}

/* home */

.home{
  padding: 220px 0 60px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url('./image/other/samsa_back.jpg');
}

.home__box{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.home__text{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  row-gap: 10px;
}
.home__img{
  max-width: 660px;
}